{% extends "registeration/base.html" %}

{% block body_block %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script>
$(document).ready(function(){
    $("#btn1").click(function () {
        console.log("Aman");
        var x = $('#hidden').text();
        console.log(x);

        data_passed = {pk: x};
        $.get('/registeration/user_register/', data_passed, function () {
                    alert("Successfully Registered.");
                });

        $("#btn1").val("ho ho ho");
        $("#btn1").attr("id", "btn2");


        $("#btn2").unbind("click").click(function () {
            var x = $('#hidden').text();
            console.log(x);

            data_passed = {
                    pk: x
                };
                $.get('/registeration/user_deregister/', data_passed, function () {
                    alert("Successfully Deregistered.");
                });

            $("#btn2").val("hey hey");
            $("#btn2").attr("id", "btn1");    

    });

    
});

});


</script>

<h2>{{ event.name }}</h2>
<div class="hero-unit">
	<i>{{ event.event_description }}</i>
		<p> First Time Preference:{{event.get_first_day_preference_display }},{{event.get_first_time_preference_display }}</p>
		<p> Actual Timing:{{ event.get_Actual_day_display }},{{ event.get_Actual_time_display }}</p>
        
	<br>
	<p hidden id="hidden"> {{event.pk}} </p>
    <input type="button" value="hey hey" id="btn1"/>

</div>
{% endblock %}



