{% extends "registeration/base.html" %}


{% block body_block %}

<script>
$(document).ready(function(){
     console.log("Aman");
    $("#schedule").click(function(){
        location.reload();
    });
});
</script>

<div class="hero-unit">
    <h1>Event Management System</h1>
    <br>
    <input type="button" value="Schedule Events" id = "schedule"/>
</div>

<p style="margin-left: 65px;"><strong> Events that have been scheduled:-</strong></p>
<div class="hero-unit" style = "margin-top: -40%;">
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Event Name</th>
        <th>1st Preference </th>
        <th>2nd Preference </th>
        <th>3rd Preference </th>
        <th>Actual Timings </th>
        <th>Venue</th>
      </tr>
    </thead>
    {% for event in events%}
        <!-- <div> -->

            <tr>
            {% if event.get_Actual_time_display != '$'%} 
            <td>{{ event.name }}</td>

                <td> {{event.get_first_day_preference_display }}, {{event.get_first_time_preference_display }}</td>
                <td> {{event.get_second_day_preference_display }}, {{event.get_second_time_preference_display }}
                </td>
                <td> {{event.get_third_day_preference_display }}, {{event.get_third_time_preference_display }}</td>
                <td> {{ event.get_Actual_day_display }},{{ event.get_Actual_time_display }}</td>
                <td> {{ event.get_Venue_display }}</td>
                
            </tr>
            {% else %}
            {% endif %}
        <br>
    {% endfor %}
    </table>


    {% if count %}

</div>
<p>Events that can't be scheduled because all the preferred timing slots are clashing with some other event .</p>
<br>
<div style = "margin-top :-25%;">
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Event Name</th>
        <th>1st Preference </th>
        <th>2nd Preference </th>
        <th>3rd Preference </th>
      </tr>
    </thead>
    {% for event in events%}
        <!-- <div> -->

           
            {% if event.get_Actual_time_display == '$'%} 
            <tr>
                <td style = "color : red; ">{{ event.name }}</td>

                    <td style = "color : red; "> {{event.get_first_day_preference_display }}, {{event.get_first_time_preference_display }}</td>
                    <td style = "color : red; "> {{event.get_second_day_preference_display }}, {{event.get_second_time_preference_display }}</td>
                    <td style = "color : red; "> {{event.get_third_day_preference_display }}, {{event.get_third_time_preference_display }}</td>
            </tr>
            {% else %}
            {% endif %}
        <br>
    {% endfor %}
    </table>
    {% else %}
    {% endif %}

</div>



 {% endblock %}

