{% extends "registeration/base.html" %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>



{% block body_block %}
<style type="text/css">
.hero-unit {
  padding-top: 0px; !important 
  margin-top: -21%;
  margin-bottom: 0%;

  /*padding: 60px;  default is 60px; */

}</style>


<script>
$(document).ready(function(){
     console.log("Aman");
    $("#schedule").click(function(){
        location.reload();
    });
});
</script>

<div class="hero-unit">
    <h1>Event Management System</h1>
    <br>
    <input type="button" value="Schedule Events" id = "schedule"/>

</div>

<p style="margin-left: 65px;"><strong> Events that have been scheduled:-</strong></p>
<div class="hero-unit" style = "margin-top: -21%;">
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Event Name</th>
        <th>1st Prefernce </th>
        <th>2nd Prefernce </th>
        <th>3rd Prefernce </th>
        <th>Actual Timings </th>
      </tr>
    </thead>
    {% for event in events%}
        <!-- <div> -->

            <tr>
            {% if event.get_Actual_time_display != '$'%} 
            <td>{{ event.name }}</td>

                <td> {{event.get_first_day_preference_display }}, {{event.get_first_time_preference_display }}</td>
                <td> {{event.get_second_day_preference_display }}, {{event.get_second_time_preference_display }}</td>
                <td> {{event.get_third_day_preference_display }}, {{event.get_third_time_preference_display }}</td>
                <td> {{ event.get_Actual_day_display }},{{ event.get_Actual_time_display }}</td>
            </tr>
            {% else %}
            {% endif %}
        <br>
    {% endfor %}
    </table>


    {% if count %}

    <p>Events that can't be scheduled because all the preferrd timing slots are clashing with some other event .</p>

    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Event Name</th>
        <th>1st Prefernce </th>
        <th>2nd Prefernce </th>
        <th>3rd Prefernce </th>
      </tr>
    </thead>
    {% for event in events%}
        <!-- <div> -->

            <tr>
            {% if event.get_Actual_time_display == '$'%} 
            <td>{{ event.name }}</td>

                <td> {{event.get_first_day_preference_display }}, {{event.get_first_time_preference_display }}</td>
                <td> {{event.get_second_day_preference_display }}, {{event.get_second_time_preference_display }}</td>
                <td> {{event.get_third_day_preference_display }}, {{event.get_third_time_preference_display }}</td>
            </tr>
            {% else %}
            {% endif %}
        <br>
    {% endfor %}
    </table>
    {% else %}
    {% endif %}

</div>



 {% endblock %}

